
body {
    display: grid;
    background-color:rgb(214, 214, 214);
}
header {
    background-color: rgb(49, 84, 119);
    border-bottom-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: .5;
    height: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar-text {
    padding: 0;
}
.navbar-brand {
    margin-left: 5px;
    align-items: center;
}

.nav-link {
    color: rgb(214, 214, 214) !important; 
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    display: none;
}
.dropdown-toggle div {
    width: 25px;
    height: 2px;
    background-color: rgb(214, 214, 214); 
    margin: 5px;
}

.dropdown-toggle::after {
    content: none;
}

figure {
    margin-bottom: 0;
}

#profile {
    width: 40%;
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(200, 200, 200); 
    border-width: 1;
}

#firstpic {
    border-radius: 5px;
}
h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 75px;
    color: rgb(43, 43, 43);
    margin-bottom: 0;
}
h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
    font-family: 'Poiret One', cursive;
    padding-bottom: 20px;
}

h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
    font-family: 'Poiret One', cursive;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

p {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lora', serif;
}

.info {
    margin: 0;
    margin-left: 10px;
    color: rgb(43, 43, 43);
    font-family: 'Lora', serif;
    font-weight: normal;
}

footer {
    display: flex; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 84, 119);
    border-top-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: .5;
}


.media {
    margin-left: auto;
    margin-right: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-color:rgb(214, 214, 214);
    border-width: .2px;
}
.social {
    margin-left: 5px;
    margin-right: 5px;
}

#firstpic {
    width: 100%;
}
#picnopad {
    padding: 0;
    border-radius: 6;
}
.card {
    display: block;
    margin-bottom: 25px;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(49, 84, 119);
}

.card-title {
    color: rgb(214, 214, 214); 
}
.card-text {
    color: rgb(214, 214, 214); 
}

.img-thumbnail {
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(49, 84, 119);
    padding: 0;
}

.btn {
    color: rgb(49, 84, 119);
    background-color: rgb(214, 214, 214);
    border-style: none;
}


@media screen and (max-width: 768px) {

     .dropdown {
         display: flex;
     }
     .full {
         display: none;
     }
}